html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background: linear-gradient(to bottom, #0a45bc,#041a45);
    font-family: "Hubot Sans";
    color: white;
    text-shadow: 0 0 5vw rgb(0, 0, 0);
}
body::selection{
    color: white;
    background: orange;
}
::-webkit-scrollbar {
    width: 0.6vw;
    background-color: transparent;
    background-repeat: no-repeat;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #0a45bc,#041a45);
    border-radius: 1vw;
}
::-webkit-scrollbar-track{
    background: linear-gradient(to bottom, #0a45bc,#041a45);
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(1vw);
    }
    to {9
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes nav {
    from{
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
#header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: solid;
    border-width: 0.3vw;
    border-color: #05328e;
    max-height: 7vw;
}
#logo {
    animation: nav 1s;
    max-width: 4vw;
    margin: 1vw;
}
#navbar a {
    text-decoration: none;
    color: #05328e;
    font-size: 1.6vw;
    font-weight: 800;
    transition-duration: 300ms;
}
#navbar a:hover{
    color: #355fb4;
    transition-duration: 300ms;
    border-bottom: solid;
    border-color: #355fb4;
}
#navbar {
    animation: nav 1s;
    white-space: nowrap;
    margin-right: 4vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3.7vw;
}
#home {
    background-image: url(images/homepage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
h1 {
    animation: fadeIn 1s ease-out forwards;
    font-size: 16vw;
    margin-top: 15vw;
    margin-bottom: 15vw;
    text-shadow: 0vw 0vw 5vw #000000;
}

#onas   {
    margin: 10vw;
    text-align: center;
    font-size: clamp(15px, 2.5vw, 5vw);
    
}
#slovenija {
    max-width: 50vw;
    margin-top: 4vw;
    transition-duration: 200ms;
    filter: drop-shadow(0 0 0.5vw #000000);
}
#slovenija:hover{
    transform: scale(1.1);
    transition-duration: 200ms;
    filter: drop-shadow(0 0 2vw #000000);
}
#map {
    display: flex;
    justify-content: center;
    margin-bottom: 5vw;
}
#map iframe{
    width: 60vw;
    height: 40vw;
    filter: grayscale(0.5);
    opacity: 0.8;
}
#kontakt {
    padding-top: 5vw;
    padding-bottom: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #05328e;
    font-size: 2vw;
    padding: 3vw;
    background-color: #ffffff;
    margin-inline: 20vw;
    border-radius: 4vw;
    margin-bottom: 10vw;
    border: double;
    border-color: #082766;
    border-width: 1vw;
    box-shadow: 0 0 3vw #000000;
    text-shadow: 0 0 3vw #05328e;
}
.icon {
    width: 6vw;
    transition-duration: 300ms;
    filter: drop-shadow(0 0 0.2vw #000000);
}
.icon:hover{
    scale: 1.1;
    transition-duration: 300ms;
    filter: drop-shadow(0 0 0.4vw #000000);
}
.gallery {
    margin-bottom: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery img{
    width: 20vw;
    height: auto;
    object-fit: cover;
    margin: 3vw;
    border-radius: 1vw;
    transition-duration: 200ms;
    border: double;
    border-color: #082766;
    border-width: 0.5vw;   
}
.gallery img:hover{
    transform: scale(1.2);
    transition-duration: 200ms;
}
.slike {
    padding-top: 10vw;
}
.parallax {
    background-image: url(images/paralax.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.statistike {
    display: flex;
    justify-content: space-around;
}
.statistika h5 {
    font-size: 5vw;
    margin: 0;
    text-shadow: 0 0 3vw rgb(255, 255, 255);
    transition-duration: 20s;
}
.statistika h5:hover{
    text-shadow: 0 0 5vw rgb(255, 255, 255);
    transition-duration: 2s;

}
.statistika {
    margin-top: 15vw;
    margin-bottom: 15vw;
    text-align: center;
    margin-inline: 7vw;
}
.statistika p {
    font-size: 2vw;
    text-shadow: 0 0 0vw #FFFFFF;
    transition-duration: 3s;
}
.statistika p:hover{
    text-shadow: 0 0 0.3vw #FFFFFF;
    transition-duration: 1s;
}
#uprava {
    margin-top: 5vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vw;
}
.CEO {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #05328e;
    text-align: center;
    background-color: white;
    padding: 3vw;
    border-radius: 2vw;
    border: double;
    border-width: 1vw;
    transition-duration: 300ms;
    font-size: 2vw;
    box-shadow: 0 0 2vw #01102d;

}
.CEO h5 {
    margin:0;
}
.CEO img{
    box-shadow:0 0 0.5vw #041a45 ;
    width: 20vw;
    border-radius: 2vw;
    transition-duration: 300ms;
}
.CEO:hover {
    transform: scale(1.1);
    transition-duration: 300ms;
    box-shadow:0 0 4vw #01102d ;
}
.CEO img:hover{
    transform: scale(1.1);
    transition-duration: 300ms;
    box-shadow:0 0 2vw #041a45 ;
}
footer {
    padding-bottom: 6vw;
    padding-top: 5vw;
    background-color: #01102d;
    border-top: solid;
    border-color: #0a45bc;
    border-width: 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footerlogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10vw;
}
#footerlogo img{
    width: 7vw;
    padding-bottom: 2vw ;
}
#foot {
    display: flex;
    justify-content: space-around;
    gap: 5vw;
    
}
footer h2 {
    font-size: 1vw;
}
footer a {
    text-decoration: none;
    color: white;
}
#bottom    {
    font-size: 1vw;
    background-color: #01102d;
    padding-inline: 2vw;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: #05328e;
}
#srvc {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 1vw;
}
#avtocesta {
    background-image: url(images/highway.jpg);
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
}
#storitve {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    margin: 15vw;
    margin-inline: 15vw;
    color: #041a45;
    border-radius: 3vw;
    font-size: 3vw;
    margin-top: 5vw;
}
@keyframes storitev {
    from {
        transform: translateY(3vw);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes storitevreverse {
    from {
        transform: translateY(0vw);
    }
    to{
        transform: translateY(3vw);
    }
}

.storitev {
    font-size: 1.4vw;
    margin: 2vw;
    padding: 3vw;
    background-color: #ffffff70;
    backdrop-filter: blur(0.1vw);
    color: #041a4500;
    border-radius: 2vw;
    transition-duration: 700ms;
    box-shadow: 0 0 0 black;
}
.storitev:hover{
    color: #041a45;
    scale: 1.1;
    box-shadow: 0 0 3vw rgba(0, 0, 0, 0.51);
    background-color: #ffffffc3;
    transition-duration: 700ms;
    
}
.storitev h3{
    transform: translateY(3vw);
    color: #041a45;

}
.storitev:hover h3{
    animation: storitev 1s forwards;
}
.storitev:not(:hover) h3{
    animation: storitevreverse 1s forwards;
}
#storitve h2 {
    margin: 0;
    margin-top: 1.2vw;
    color: #05328e;
}
#lfooter img {
    width: 4vw;
    padding-inline: 1vw;
    filter: brightness(0.8);
    transition-duration: 200ms;
}
#lfooter img:hover {
    filter: brightness(1);
    transition-duration: 200ms;
}
#rfooter a {
    transition-duration:100ms ;
}
#rfooter a:hover{
    color: #547fd4;
    transition-duration: 100ms;
}
#top {
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    margin-bottom: 1vw;
}
